/* Realizar testes de resolução, Adiccionar janelas, Criar novas interações */

.micro-5-regular {
  font-family: "Micro 5", sans-serif;
  font-weight: 400;
  font-style: normal;
}



.kode-mono- {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 100%;
  font-style: normal;
}

.core{
  
  width: 10%;
  height: 7%;
  position: absolute;
  left: 50%;
  top: 5.45%;
 mix-blend-mode:multiply 50%;
 opacity: 0.9;
 z-index: -101;
 filter:brightness(150%) blur(0.07vb) saturate(120%) contrast(90%) opacity(1);
}



html, body{
margin: 0%;
padding:0vw;
height: 200vh;
width: 200vh;
overflow-x:visible;
background-image: url(https://i.imgur.com/SuP2WnZ.gif);
background-position: center center;
background-size: cover;
background-attachment: scroll;
background-repeat: no-repeat;
align-self: center center;
position: relative;
max-height: 300vh;
min-width: 100vw;
z-index: -100;

}




.content{
    
    border: 1vb solid #000; /* borda */
    
    left: 25%;
    min-width: 50vw;
    max-width: 50vw;
    text-align: center; /* alinha o texto ao centro */
    overflow: visible; /* para evitar que o texto saia da caixa */
    position: relative;
   
 
}

/* TELAS PEQUENAS */
@media only screen and (max-width: 768px) {

    html, body{
        margin: 0%;
        padding:0vw;
        height: 100vh;
        width: 100vh;
        overflow-x:visible;
        background-image: url(https://i.imgur.com/SuP2WnZ.gif);
        background-position: center center;
        background-size: cover;
        background-attachment: scroll;
        background-repeat: no-repeat;
        align-self: center center;
        position: relative;
        max-height: 300vh;
        min-width: 100vw;
        z-index: -100;
        
        }


        


    .content{
    
        border: 1vb solid #000; /* borda */
        
        left: 25%;
        min-width: 50vw;
        max-width: 50vw;
        text-align: center; /* alinha o texto ao centro */
        overflow: visible; /* para evitar que o texto saia da caixa */
        position: relative;
        scale: 0.5;
       
     
    }
  };
/* TELAS PEQUENAS */


/* TELAS  MEDIAS */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    html, body{
        margin: 0%;
        padding:0vw;
        height: 185vh;
        width: 185vh;
        overflow-x:visible;
        background-image: url(https://i.imgur.com/SuP2WnZ.gif);
        background-position: center center;
        background-size: cover;
        background-attachment: scroll;
        background-repeat: no-repeat;
        align-self: center center;
        position: relative;
        max-height: 300vh;
        min-width: 100vw;
        z-index: -100;
        
        }


        


    .content{
    
        border: 1vb solid #000; /* borda */
        
        left: 25%;
        min-width: 50vw;
        max-width: 50vw;
        text-align: center; /* alinha o texto ao centro */
        overflow: visible; /* para evitar que o texto saia da caixa */
        position: relative;
        scale: 0.75;
       
     
    }
  };
  /* TELAS MEDIAS */

  /* TELAS GRANDES */
  @media screen and (min-width: 1025px) and (max-width: 1240px) {
    html, body{
        margin: 0%;
        padding:0vw;
        height: 190vh;
        width: 190vh;
        overflow-x:visible;
        background-image: url(https://i.imgur.com/SuP2WnZ.gif);
        background-position: center center;
        background-size: cover;
        background-attachment: scroll;
        background-repeat: no-repeat;
        align-self: center center;
        position: relative;
        max-height: 300vh;
        min-width: 100vw;
        z-index: -100;
        
        }


        


    .content{
    
        border: 1vb solid #000; /* borda */
        
        left: 25%;
        min-width: 50vw;
        max-width: 50vw;
        text-align: center; /* alinha o texto ao centro */
        overflow: visible; /* para evitar que o texto saia da caixa */
        position: relative;
        scale: 0.8;
  };
  
}
/* TELAS GRANDES */

/* TELAS GIGANTES */
@media screen and (min-width: 1241px) {
    html, body{
        margin: 0%;
        padding:0vw;
        height: 200vh;
        width: 200vh;
        overflow-x:visible;
        background-image: url(https://i.imgur.com/SuP2WnZ.gif);
        background-position: center center;
        background-size: cover;
        background-attachment: scroll;
        background-repeat: no-repeat;
        align-self: center center;
        position: relative;
        max-height: 300vh;
        min-width: 100vw;
        z-index: -100;
        
        }


        


    .content{
    
        border: 1vb solid #000; /* borda */
        
        left: 25%;
        min-width: 50vw;
        max-width: 50vw;
        text-align: center; /* alinha o texto ao centro */
        overflow: visible; /* para evitar que o texto saia da caixa */
        position: relative;
        scale: 1;
  };
  
}
/* TELAS GIGANTES */



.container{
    position: absolute;
    left: 45.5%;
    top: 52.6%;
    
}

.container-2{
  position: absolute;
  left: 20.8%;
  top: 17%;

  
}

.container-3{
  
  position: absolute;
  right: 24.98%;
  top: 43%;
}

.textbox {
    width: 2vw;
    height: 2vh;
    background-color: rgba(143, 202, 131, 0.5); /* Fundo menos visível */
    transition: all 0.3s ease; /* Adiciona uma transição suave */
    position: relative;
    
    border-width: 0.5vw 1vw 0.3vw;
    border-color: #000 ;
    
    
   border-style: double double hidden;
    border-radius: 0.8vw;
  
  padding: 1.5%;
   background-image: -webkit-linear-gradient(rgba(189, 141, 28, 0.402), rgba(215, 207, 163, 0.301));
   
  mix-blend-mode: screen;
   background-image: url(https://i.imgur.com/8LgH4Qm.png);
   background-position: center;
   background-blend-mode: overlay;
   background-size: cover;
   background-color: rgba(222, 146, 222, 0.815);
   
   backface-visibility: visible;
   background-blend-mode: lighten;
   filter: blur(1vb) brightness(150%);
  

   
   animation: fade 2.5s alternate infinite;
  }
  

  .textbox.expanded{
    width: 50vw; /* Largura expandida */
    height: 20vh;
    
   
    background-size: cover;
    background-image: url(https://i.imgur.com/8LgH4Qm.png);
    background-position: center center;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    /* background-color: rgba(255, 166, 0, 0.772); */
    background-color: rgba(222, 146, 222, 0.815);
   
   backface-visibility: visible;
   background-blend-mode: lighten;
    animation-play-state: paused;
    animation: blur 2.3s steps(50) forwards;
  }

  .textbox textarea{
    display: none;
  }

  
.textbox.expanded textarea {
    transition: ease-in 3s;
    display: block;
    
}
    
  textarea {
    width: 100%;
    height: 100%;
    border: none;
    resize: none; /* Impede o redimensionamento da caixa de texto */
    background-color: transparent; /* Remove o fundo da textarea */
    color: rgb(255, 255, 255);
   overflow: hidden;
    
    font-family: "Kode Mono", monospace;
    font-size: 2vb;
    text-align: center center;

    
    
    animation: typing 5s steps(90) forwards;
    border-right: 0.5vb double rgb(56, 42, 58);
    border-bottom: 0.3vb double rgb(70, 5, 70);
    border-bottom-left-radius: 5% ;
    border-spacing: 0.3vb;
    border-top-right-radius: 1% ;
    
  }




  .textbox-core {
    width: 2.6%;
    height: 1.6%;
   
    transition: all 0.3s ease; /* Adiciona uma transição suave */
    position: absolute;
    left: 53.4%;
    top: 3.8%;
    
   background-image: url(https://i.imgur.com/RQzb3mK.png);
   background-position: center;
   background-blend-mode: overlay;
   background-size: contain;
   background-color:transparent;
   background-repeat: no-repeat;
   
   
   
   backface-visibility: visible;
   background-blend-mode: lighten;
   
  filter:contrast(120%) brightness(130%);
  mix-blend-mode: multiply;
   
   animation: fade 2.5s alternate infinite;
  }

 
  



  
  /* Animação */
  @keyframes typing {
    0% {
      width: 0;
      height: 0;
    }
    100% {
      width: 100%;
      height: 100%;
    }
  }

  @keyframes fade{
  0%{
    opacity: 0.2;
  }
  40%{
    opacity: 0.6;
    color: blueviolet;
  }
  80% {
    opacity: 0.8;
    color: rgb(236, 225, 243);
    scale: 1.5 2;
    
  }


  

  

  100%{
    opacity: 0.2;
  }

  }

  @keyframes blur{
  0%{
    filter:blur(1vb) ;
  }
  50% {
    filter: blur(0.5vb);
  }
  100%{
    filter: blur(0);
  }

  }

  @keyframes fadeg{
    0%{
      opacity: 0.2;
    }
    40%{
      opacity: 0.6;
      color: rgb(226, 168, 43);
    }
    80% {
      opacity: 0.8;
      color: rgb(243, 236, 225);
      scale: 1.5 2;
      
    }
  }